{% load static i18n %}
<table
  class="table"
  data-api-base="{% url "ixctl_api:member-list" org_tag=request.org.slug ix_tag="default" %}"
  data-api-action=""
  data-template="list">
  <thead>
    <tr>
      <th data-sort-target="asn" data-sort-secondary="ipaddr4,ipaddr6" class="sortable-button">{% trans "ASN" %}</th>
      <th data-sort-target="name" data-sort-initial="yes" data-sort-secondary="ipaddr4,ipaddr6"  class="sortable-button">{% trans "Name" %}</th>
      <th data-sort-target="ipaddr4" class="sortable-button">{% trans "IPv4" %}</th>
      <th data-sort-target="ipaddr6" class="sortable-button">{% trans "IPv6" %}</th>
      <th data-sort-target="speed" data-sort-secondary="name,ipaddr4,ipaddr6"  class="sortable-button">{% trans "Speed" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="list-body">
  </tbody>
  <tbody class="templates">
    <tr data-template="row">
      <td data-field="asn"></td>
      <td data-field="display_name" class="highlight"></td>
      <td data-field="ipaddr4"></td>
      <td data-field="ipaddr6"></td>
      <td data-field="speed"></td>
      <td data-field="controls" class="right">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <a data-action="edit_member"><span class="icon ixctl icon-edit"></span><span class="label ixctl">{% trans "Edit" %}</span></a>
          </div>
          <div class="col-xs-12 col-lg-6">
        <a
          data-api-action="{id}"
          data-api-callback="remove"
          data-confirm="Remove member?"
          data-api-method="DELETE"><span class="icon ixctl icon-delete"></span><span class="ixctl label">{% trans "Delete" %}</span></a>
          </div>
        </div>
      </td>
    </tr>
    <tr data-template="row" class="secondary">
      <td class="indent"></td>
      <td class="property" colspan="5">
        <div class="row">
          <div class="col-12 col-sm-4 col-lg-3 col-xl-2 field">
            {% trans "State" %}:
            <span class="highlight" data-field="ixf_state"></span>
          </div>
          <div class="col-12 col-sm-4 col-lg-3 col-xl-2 field">
            {% trans "Type" %}:
            <span class="highlight" data-field="ixf_member_type"></span>
          </div>
          <div class="col-12 col-sm-4 col-lg-3 col-xl-2 field">
            {% trans "Routeserver" %}:
            <span data-field="is_rs_peer" data-toggle="checked">
              <img data-false src="{% static "common/icons/Indicator/X-Ind/X.svg" %}" class="icon filled">
              <img data-true src="{% static "common/icons/Indicator/Check-Ind/Check.svg" %}" class="icon filled">
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-3 col-xl-4 field">
            {% trans "MAC Address" %}:
            <span class="highlight" data-field="macaddr"></span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 col-xl-2"></div>
        </div>
      </td>
    </tr>

  </tbody>
</table>

