{% extends "common/app/base.html" %}
{% load static i18n %}
{% block "title" %}fullctl / ix{% endblock %}

{% block "js" %}
{{ block.super }}
<script src="{% static "ixctl/ixctl.js" %}" type="text/javascript"></script>
{% endblock %}

{% block "css" %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "ixctl/ixctl.css" %}" />
{% endblock %}

{% block "header_middle" %}
<img src="{% static "common/icons/ixctl-logo-darkbg.svg" %}" alt="ixctl">
{% endblock %}

{% block "header_right" %}
{% with app_id="ixctl" %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block "app_content_toolbar" %}
<div class="row">
  <div class="col-9">
    <span class="inline-label">{% trans "Exchange:" %}</span>
    <span class="toolbar-control">
      <img class="caret" src="{% static "common/icons/ui-caret-caret/down.svg" %}">
    <select
      data-api-load="yes"
      data-api-base="{% url "ixctl_api:ix-list" org_tag=request.org.slug %}"
      data-element="select_ix"></select>
    </span>
  </div>
  <div class="col-3 right">
    <button type="button" class="button" data-element="button_import">
    <span class="icon ixctl icon-add"></span>
    {% trans "Import" %}</button>
  </div>
</div>
{% endblock %}

{% block "app_content_menu" %}
<div class="menu-deco-border"></div>
{% endblock %}

{% block "app_content_main" %}
{% include "ixctl/tool/members/main.html" %}
{% endblock %}

{% block "templates" %}
{{ block.super }}
{% include "ixctl/form-import.html" %}
{% endblock %}
