{% load static i18n %}
<form
  data-template="form_update_ix"
  data-api-base="{% url "ixctl_api:ix-detail" org_tag=request.org.slug ix_tag="default" %}"
  data-api-method="PUT">

  <div class="row">
    <div class="col-12">
      <div class="form-group" data-api-submit="yes">
        <label for="edit_ix_name">{% trans "Exchange Name" %}:</label>
        <input 
          type="text"
          class="form-control mb-3"
          name="name"
          id="edit_ix_name">
        </input>
        <label for="edit_ix_slug">{% trans "Exchange Slug" %}:</label>
        <input 
          type="text"
          class="form-control"
          name="slug"
          id="edit_ix_slug">
        </input>
      </div>
    </div>
  </div>
</form>
