{% load static i18n %}
<form data-template="form_member"
  data-api-base="{% url "ixctl_api:member-list" org_tag=request.org.slug ix_tag="default" %}"
  data-api-action=""
  data-api-method="POST"
  >
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-name">{% trans "Name" %}</label>
        <input type="text" class="form-control" id="member-name" name="name" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-asn">{% trans "ASN" %}</label>
        <input type="text" class="form-control" id="member-asn" name="asn" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-state">{% trans "State" %}</label>
        <span class="modal-control">
        <img class="caret" src="{% static "common/icons/ui-caret-caret/down.svg" %}">
        <select
          class="form-control"
          id="member-state"
          name="ixf_state"
          data-api-base="{% url "ixctl_api:member-list" org_tag=request.org.slug ix_tag="default" %}"
          data-api-action=""
          data-load-type="drf-choices"
          >
        </select>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-type">{% trans "Member Type" %}</label>
        <span class="modal-control">
        <img class="caret" src="{% static "common/icons/ui-caret-caret/down.svg" %}">
        <select
          class="form-control"
          id="member-type"
          name="ixf_member_type"
          data-api-base="{% url "ixctl_api:member-list" org_tag=request.org.slug ix_tag="default" %}"
          data-load-type="drf-choices"
          >
        <select>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-ipaddr4">{% trans "IPv4 Address" %}</label>
        <input type="text" class="form-control" id="member-ipaddr4" name="ipaddr4" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-ipaddr6">{% trans "IPv6 Address" %}</label>
        <input type="text" class="form-control" id="member-ipaddr6" name="ipaddr6" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-macaddr">{% trans "MAC Address" %}</label>
        <input type="text" class="form-control" id="member-macaddr" name="macaddr" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-md5">{% trans "MD5" %}</label>
        <input type="text" class="form-control" id="member-md5" name="md5" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-as-macro">{% trans "AS Macro" %}</label>
        <input type="text" class="form-control" id="member-as-macro" name="as_macro_override" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <input type="checkbox" class="form-check-input" id="member-is-rs-peer" name="is_rs_peer" />
        <label for="member-is-rs-peer" class="form-check-label">{% trans "Route Server" %}</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12" data-api-submit="yes">
        <label class="form-label" for="member-speed">{% trans "Speed" %}</label>
        <input type="text" class="form-control" id="member-speed" name="speed" />
      </div>
    </div>

    <!-- DEVICECTL REF -->

    <!-- devicectl logo -->
    <!-- <img src="{% static "common/logos/devicectl-dark.svg" %}"> -->
    <div data-element="devicectl_elements" data-api-base="{% url " ixctl_api:member-list" org_tag=request.org.slug
      ix_tag="default" %}" data-api-action="" data-api-method="GET" style="position:relative">
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <span class="modal-control">
            <label class="form-label" for="port">{% trans "Port" %}</label>
            <select
              class="form-control"
              id="port"
              name="port">
            </select>
          </span>
        </div>
      </div>
    </div>

  </div>
</form>


