{% extends "common/v2/app/base.html" %}
{% load static i18n %}
{% block "title" %}fullctl / ix{% endblock %}

{% block "js" %}
{{ block.super }}
<script src="{% static "ixctl/v2/ixctl.js" %}" type="text/javascript"></script>
<script src="{% static "ixctl/ixctl.settings.js" %}" type="text/javascript"></script>
<script>
{% if select_ix %}
$(fullctl.application).on("initialized", function(e, ixctl, id) {
  ixctl.preselect_ix = {{ select_ix.id }};
});
{% endif %}
</script>
{% endblock %}

{% block "css" %}
{{ block.super }}
{% endblock %}


{% block "header_middle" %}
<div class="app-pages-nav | nav h-100" data-component="pages">
    <a class="nav-link active"
      id="tab-overview"
      data-bs-toggle="tab"
      role="tab"
      aria-controls="overview"
      aria-selected="true"
      href="#overview">{% trans "Members" %}</a>

    <a class="nav-link"
      data-bs-toggle="tab"
      role="tab"
      aria-controls="settings"
      aria-selected="false"
      id="settings-tab"
      href="#settings">{% trans "Settings" %}</a>
</div>
{% endblock %}


{% block "header_right" %}
{% with app_id="ixctl" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block "header_account_panel" %}
{% with app_id="ixctl" %}

        <div
          class="dropdown org-select header-control d-flex align-items-center h-100"
          data-api-base="{% url "ixctl_api:ix-list" org_tag=request.org.slug %}"
          >
          <div class="custom-divider h-100">
            <div
              class="d-flex align-items-center px-3 ms-2 h-100 list-header"
              id="dropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="icon icon-list"></span>
              <span class="ps-2 pe-4 ix-dropdown-label"></span>
              <span class="icon icon-caret-down"></span>
            </div>
            <div
              class="dropdown-menu org-select-menu dd-box-shadow"
              aria-labelledby="dropdownMenuLink"
            >
              <div class="list-body">

              </div>
              <div
                class="dropdown-item text-body"
                type="button"
                data-element="button_create_ix"
              >
                + {% trans "Create Exchange" %}
              </div>
              <div
                class="dropdown-item text-body"
                type="button"
                data-element="button_import_ix"
              >
                + {% trans "Import" %}
              </div>
            </div>
          </div>
          <div class="templates" style="display:none">
              <div data-template="row" class="dropdown-item ix-item" type="button">
                <span data-field="name"></span>
              </div>
          </div>
       </div>

{{ block.super }}
{% endwith %}
{% endblock %}


{% block "app_content_toolbar" %}
{% endblock %}

{% block "app_content_menu" %}
<div class="menu-deco-border"></div>
{% endblock %}

{% block "app_content_main" %}

<div style="display:none" class="notification row marg-top-lg" id="no-ix-notify">
  <div class="col-12 center">
    <p>
    {% blocktrans %}
    There are currently no internet exchanges in this organization.
    {% endblocktrans %}
    </p>
  </div>
</div>

<div class="tab-content" id="app-pages">
  <div class="tab-pane show active" id="overview" role="tabpanel" aria-labelledby="tab-overview">
		{% include "ixctl/v2/tool/routeservers/main.html" %}
		{% include "ixctl/v2/tool/members/main.html" %}
  </div>

  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="tab-settings">
		{% include "ixctl/v2/tool/settings/main.html" %}
  </div>
</div>



{% endblock %}

{% block "templates" %}
{{ block.super }}
{% include "ixctl/v2/form-import.html" %}
{% include "ixctl/v2/form-create-ix.html" %}

{% endblock %}
