{% load i18n %}
<div class="container" id="form-add-ix">
          <div class="row">
            <div class="col-sm">
              <!-- IMPORT FROM PEERINGDB -->
              <h5>
              {% trans "Import from PeeringDB" %}
              </h5>
              <form method="post">
              <div class="mb-3">
                <label class="mb-2" for="id_pdb_id">PeeringDB Exchange:</label> <select name="pdb_id" data-autocomplete-light-language="en-US" data-autocomplete-light-function="select2" id="id_pdb_id" required data-autocomplete-light-url="/{{ org.tag }}/ix/autocomplete/pdb/ix">
                  <option value="" selected>---------</option>

                  </select>
              </div>
              </form>
            </div>
          </div>
</div>
