TWENTYC_ENDPOINT="https://account.20c.com"
TWENTYC_OAUTH_ACCESS_TOKEN_URL = "{}/account/auth/o/token/".format(TWENTYC_ENDPOINT)
TWENTYC_OAUTH_AUTHORIZE_URL = "{}/account/auth/o/authorize/".format(TWENTYC_ENDPOINT)
TWENTYC_OAUTH_PROFILE_URL = "{}/account/auth/o/profile/".format(TWENTYC_ENDPOINT)

SOCIAL_AUTH_TWENTYC_KEY="SET ME"
SOCIAL_AUTH_TWENTYC_SECRET="SET ME"

AUTHENTICATION_BACKENDS = [
    "django_ixctl.social.backends.twentyc.TwentycOAuth2",
] + AUTHENTICATION_BACKENDS

SOCIAL_AUTH_REDIRECT_IS_HTTPS = True

SOCIAL_AUTH_PIPELINE = (
    "social_core.pipeline.social_auth.social_details",
    "social_core.pipeline.social_auth.social_uid",
    "social_core.pipeline.social_auth.social_user",
    "social_core.pipeline.user.get_username",
    "social_core.pipeline.user.create_user",
    "social_core.pipeline.social_auth.associate_user",
    "social_core.pipeline.social_auth.load_extra_data",
    "django_ixctl.social.pipelines.sync_organizations",
    "django_ixctl.social.pipelines.sync_api_keys",
    "social_core.pipeline.user.user_details",
)

# organizations are provided by oauth
MANAGED_BY_OAUTH = True
