{% load static i18n %}
<form data-template="form_permreq"
  data-api-base="{% url "ixctl_api:permreq-list" org_tag='__org__' %}"
  data-api-action=""
  data-api-method="POST"
  >
  <div class="row form-group">
    <div class="col-12" data-api-submit="yes">
      <label for="permreq-type">{% trans "Access Type" %}</label>
      <span class="modal-control">
      <img class="caret" src="{% static "common/icons/ui-caret-caret/down.svg" %}">
      <select class="form-control" id="type" name="type">
        <option value="net_ix">{% trans "Manage your networks at exchange" %}</option>
      <select>
      </span>
    </div>
  </div>
</form>


