{% load static i18n %}
<div class="section container-fluid mb-5" data-template="menu">

  <div class="row">
    <div class="col-12 col-md-7">

      <div class="row">
        <!-- graph controls -->
        <div class="graph_container col-12 col-sm-9 mb-3" data-element="graph_container" id="ix_traffic_graph" style="height:250px" data-api-base="{% url "proxies-api-devicectl-ix-traffic" org_tag=request.org.slug ix_id="0" %}"></div>
        <div class="controls graph-controls col-12 col-sm-3" style="display:none">
          <div class="row mb-3">
            <div class="col-12">

                <select class="form-select form-control mb-3" id="date_range_select">
                    <option value="1">1 hour</option>
                    <option value="24" selected>24 hours</option>
                    <option value="168">7 days</option>
                    <option value="720">30 days</option>
                    <option value="current_month">Current Month</option>
                    <option value="last_month">Last Month</option>
                    <option value="2160">90 days</option>
                    <option value="8760">365 days</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
          </div>



          <div class="row">
            <div class="col-12">
                <div id="custom_date_range" style="display: none;" class="right row">
                    <div class="col-12 mb-3">
                        <input placeholder="Select start date" type="text" id="custom_start_date" class="form-control datepicker">
                    </div>
                    <div class="col-12 mb-3">
                        <input placeholder="Select end date" type="text" id="custom_end_date" class="form-control datepicker">
                    </div>
                </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <button class="secondary btn btn-sm form-control" data-element="refresh_traffic_graph">
                <div class="row align-items-center">
                <div class="col label pe-0">Refresh</div>
                <div class="col-auto">
                    <span class="icon icon-refresh"></span>
                </div>
                </div>
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-12 col-md-5"></div>

  </div>


  <div class="row">
    <div class="col">
      <span class="heading">{% trans "Members" %}</span>
    </div>
    <a type="button" class="primary col-md-auto btn ms-auto d-flex" data-element="button_add_member">
      <div class="row align-items-center">
        <div class="col label pe-0">{% trans "Add Member" %}</div>
        <div class="col-auto">
          <span class="icon icon-add"></span>
        </div>
      </div>
    </a>
    <a href="" class="secondary col-md-auto btn ms-2 d-flex" data-element="button_ixf_export" target="_blank">
      <div class="row align-items-center">
        <div class="col label pe-0">{% trans "IX-F Export" %}</div>
        <div class="col-auto">
          <span class="icon ixctl icon-download"></span>
        </div>
      </div>
    </a>
    <a href="" class="secondary col-md-auto btn ms-2 d-flex" data-element="button_api_view" target="_blank">
      <div class="row align-items-center">
        <div class="col label pe-0">{% trans "API View" %}</div>
        <div class="col-auto">
          <span class="icon ixctl icon-api"></span>
        </div>
      </div>
    </a>
  </div>
  <div class="row align-items-center">
    <div class="col-md-4">
      <div class="toolbar-control input-group searchbar member-searchbar">
        <input type="text" value="" data-role="filter" placeholder="Search for ASN">
        <button class="btn curved" data-role="filter_submit" type="button"><span class="icon icon-search"></span></button>
        <button class="btn secondary small" data-role="filter_clear" type="button" style="display: none;"><span class="icon icon-cancel"></span></button>
      </div>
    </div>
    <div class="col-auto">
      <button type="button" class="small btn filter d-flex align-items-center" data-element="filter_non_active_members">
        <div class="row align-items-center">
          <div class="col-auto pe-0">
            <span class="icon icon-filter"></span>
          </div>
          <div class="col label ps-1"><span>{% trans "Non-active Members:&nbsp;" %}</span><span class="value bold"></span></div>
        </div>
      </button>
    </div>
  </div>
</div>


