{% load static i18n %}
<div class="tool" data-component="nets">

  {% include "common/v2/tool_base_sidebar.html" %}

  <div class="templates">

    {% include "ixctl/v2/tool/settings/menu.html" %}
    {% include "ixctl/v2/tool/settings/list.html" %}
    {% include "ixctl/v2/tool/settings/routeserver-form.html" %}
    {% include "ixctl/v2/tool/settings/import-routeserver-form.html" %}
    {% include "ixctl/v2/tool/settings/delete-ix-form.html" %}
    {% include "ixctl/v2/tool/settings/ix-general-settings.html" %}


  </div>
</div>

